### Getting a list of airline companies

Sourced from OpenFligts, below follow some data simplification for the purposes of this project.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/airlines.dat')

In [3]:
df

,-1,Unknown,\N,-,N/A,\N.1,\N.2,Y
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N
5,6,223 Flight Unit State Airline,\N,NaN,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,\N,NaN,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,\N,NaN,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,\N,NaN,SEC,SECUREX,United States,N
9,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y
10,11,4D Air,\N,NaN,QRT,QUARTET,Thailand,N
11,12,611897 Alberta Limited,\N,NaN,THD,DONUT,Canada,N
12,13,Ansett Australia,\N,AN,AAA,ANSETT,Australia,Y
13,14,Abacus International,\N,1B,NaN,NaN,Singapore,Y
14,15,Abelag Aviation,\N,W9,AAB,ABG,Belgium,N
15,16,Army Air Corps,\N,NaN,AAC,ARMYAIR,United Kingdom,N
16,17,Aero Aviation Centre Ltd.,\N,NaN,AAD,SUNRISE,Canada,N
17,18,Aero Servicios Ejecutivos Internacionales,\N,NaN,SII,ASEISA,Mexico,N
18,19,Aero Biniza,\N,NaN,BZS,BINIZA,Mexico,N
19,20,Aero Albatros,\N,NaN,ABM,ALBATROS ESPANA,Spain,N
20,21,Aigle Azur,\N,ZI,AAF,AIGLE AZUR,France,Y
21,22,Aloha Airlines,\N,AQ,AAH,ALOHA,United States,Y
22,23,Alaska Island Air,\N,NaN,AAK,ALASKA ISLAND,United States,N
23,24,American Airlines,\N,AA,AAL,AMERICAN,United States,Y
24,25,Aviation Management Corporation,\N,NaN,AAM,AM CORP,United States,N
25,26,Atlantis Airlines (USA),\N,NaN,AAO,ATLANTIS AIR,United States,N
26,27,Aerovista Airlines,\N,NaN,AAP,AEROVISTA GROUP,United Arab Emirates,N
27,28,Asiana Airlines,\N,OZ,AAR,ASIANA,Republic of Korea,Y
28,29,Askari Aviation,\N,4K,AAS,AL-AAS,Pakistan,Y
29,30,Australia Asia Airlines,\N,NaN,AAU,AUSTASIA,Australia,N
...,...,...,...,...,...,...,...,...
6131,20827,Fly France,Fly France,FF,FRF,NaN,France,Y
6132,20875,Jota Aviation,NaN,NaN,ENZ,ENZO,United Kingdom,Y
6133,20881,Europe Jet,Europe Jet,EX,EU9,NaN,France,Y
6134,20923,COBALT,COBALT,NaN,FCB,COBALT,Cyprus,Y
6135,20931,Southern Airways Express,Sun Air Express,NaN,LTD,LIGHTSPEED,United States,Y
6136,20961,Deutsche Luftverkehrsgesellschaft (DLT),NaN,DW,DWD,NaN,Germany,N
6137,20962,Orenburzhie,NaN,NaN,ORG,NaN,Russia,Y
6138,20963,Atlantic Air Cargo,NaN,K3,\N,NaN,United States,N
6139,20976,World Scale Airlines,World Scale,W3,WSS,NaN,United States,Y
6140,20978,All America US,All America US,AG,SSA,NaN,United States,Y
6141,20986,University of Birmingham Air Squadron (RAF),8AEF RAF,NaN,UAY,UAY,United Kingdom,Y
6142,20991,Choice Airways,NaN,NaN,CSX,NaN,United States,Y
6143,20994,Aruba Airlines,NaN,NaN,ARU,NaN,Aruba,Y
6144,20995,BudgetAir,BudgetAir,1K,BG1,NaN,Germany,Y
6145,20996,Dynamic Airways,NaN,NaN,DYA,NaN,United States,Y
6146,21012,Fly One,Fly One,F5,FI5,NaN,Moldova,Y
6147,21021,Nordica,NaN,EE,\N,REVAL,Estonia,Y
6148,21036,Tez Jet Airlines,NaN,NaN,TEZ,NaN,Kyrgyzstan,Y
6149,21043,Kush Air,NaN,NaN,KUH,NaN,South Sudan,Y
6150,21056,Dummy,NaN,0E,\N,NaN,France,N
6151,21124,ViaAir,Charter Air Transport,NaN,SRY,Stingray,United States,Y
6152,21131,All America BOPY,All America BOPY,0P,PYB,BOPY,Paraguay,Y
6153,21179,Thai Vietjet Air,NaN,NaN,TVJ,THAIVIET JET,Thailand,Y
6154,21181,Air Andaman (2Y),NaN,2Y,AOW,AIR ANDAMAN,Thailand,N
6155,21240,TDA Toa Domestic Airlines,TDA,NaN,TDA,Toa Domes,Japan,N
6156,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y
6157,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N
6158,21268,Jetgo Australia,NaN,JG,\N,NaN,Australia,Y
6159,21270,Air Carnival,NaN,2S,\N,NaN,India,Y
6160,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y